<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
  
  <servlet>
    <servlet-name>App</servlet-name>
    <servlet-class>SearchApp</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>App</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <mime-mapping>
    <extension>xhtml</extension>
    <mime-type>application/xhtml+xml</mime-type>
  </mime-mapping>

  <welcome-file-list>
    <welcome-file>/index.xhtml</welcome-file>
  </welcome-file-list>

</web-app>